html{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;

  width: 80%;
}

header {
  height: 10vw;
  margin-left: 5vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(84, 153, 199);
  width: 80%;
  margin-top: -40px;
}

img {
height: 15vw;
margin-left: 50vw;
margin-top: -10vw;
}

.logoFondo h2{
  margin-left: 5vw;
  width: 25vw;
  text-align: center;
  margin-top: 5vw;
  color: beige;
}

.container {
  text-align: center;
  padding: 200px 12px;
}


footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* @media (min-width:720px) { */
  /* header {
    position: fixed;
    width: 100%;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  } */

  /* .hero h1 {
    font-size: 5em;
  }

  #Reseña .container {
    display: flex;
    justify-content: space-evenly;
  }

  #Reseña .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #Reseña h2 {
    margin-top: 0px;
  }

  #Reseña .img-container {
    background-image: url("imagenes/Rio\ de\ janeiro.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;

  }
] */



/* @media (min-width: 1200px) {} */


/* estilo de la grafica */

#grafica {
  max-width: 500px;
  font-size: 18px;
  margin-top: 100px;
  margin-left: 600px;
}
  /* animation-name: opening-logo;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
}

@keyframes opening-logo {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
} */

/* estilos tabla  */

.container_tabla {
  color: black;
  height: 500px;
  overflow: scroll; 
  margin-left: 10vw;
  margin-top: 10vw;
  width: 80vw;

}


.table {
  border: 3px solid rgb(84, 153, 199);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

.table caption {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  /* margin: 9px 0px; */
  color: rgb(89, 48, 97);
}

.table tr {
  background-color: rgb(208, 235, 235);
  border: 1px solid rgb(229, 148, 245);
  height: 1vw;
}

/* .table th {
  margin: 50px;
} */

.table th,
.table td {
  font-size: 20px;
  /* padding: 8px; */
  text-align: center;
}

.table thead th {
  text-transform: uppercase;
  background-color: rgb(52, 137, 158);
  color: whitesmoke;
}

.table tbody tr:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.table tbody td:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

/* @media screen and (max-width: 600px) {
  .table {
    border: 0px;
  }

  .table caption {
    font-size: 20px;
  }
} */

#medallas {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 250px;
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: rgb(52, 137, 158);
  color: whitesmoke
}

#medallas i {
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid #2AC176;
  border-bottom: 4px solid #2AC176;
  transform: rotate(-45deg);
  transition: all 0.25s ease;
}

/* #buttonOrder {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 250px;
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: rgb(52, 137, 158);
  color: whitesmoke
} */

/* #buttonOrder i {
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid #2AC176;
  border-bottom: 4px solid #2AC176;
  transform: rotate(-45deg);
  transition: all 0.25s ease;
} */

#text {

  position: relative;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin: 50px;
  top: -400px;
  left: 250px;
  margin-top: 150px;
}

#text p {
  position: absolute;
  padding-top: 20px;
  font-size: 20px;
  padding: 10px;
  border: dotted 3px #2AC176;

  animation-name: opening-logo;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
}



.main-video{

  transform-origin: 0 0;
  transform: skewY(-10deg);
  margin-left: 35vw;
  margin-bottom: 10vw;
  margin-top: -200px;
}

.main-video .video{
  overflow: hidden;
  transform: skewY(10deg) scale(1.4, 1.4);
}

.main-video .video video{
  width: 50%;
  
  
}